body {
  font-family: 'Poppins', sans-serif;
  background: #0B0C10;
  padding: 20px;
  text-align: center;
}
.menu{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
}

h1 {
  margin-bottom: 20px;
  color: #FFFFFF;
}

#coins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.coin {
  width: 220px;
  border: 1px solid #ddd;
  color: #C5C6C7;
  border-radius: 12px;
  padding: 15px;
  background: #1F2833;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.coin:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.coin img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.coin h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: ⁠#C5C6C7;
}

.coin p {
  margin: 5px 0;
  font-size: 14px;
  color: #C5C6C7;
}

.positive {
  color: green;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}